@tailwind base;

@tailwind components;

@tailwind utilities;

@media (min-width: 768px) {
  .bg-overlay {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
}

.youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.youtube iframe,
.youtube object,
.youtube embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blur-2 {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
